<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Lexur-Co.Canvio.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>canvio</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>bitcountgriddoubleromanextrabold.ttf</string>
		<string>justanotherhandregular.ttf</string>
		<string>latoregular.ttf</string>
		<string>montezregular.ttf</string>
		<string>poppinsregular.ttf</string>
	</array>
</dict>
</plist>
